body {
    margin: 0;
    padding: 0;
}

.qestionContent h2 {
margin-top:0;
}

.backPopup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    position: fixed;
    top: 0px;
    opacity: 0;
    z-index: 999;
}

.backPopup .qestionContent {
    width:100%;
    padding: 1em 1.5em;
	max-width:400px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    margin: 17% auto 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.qestionContent span {
    font-weight: bold;
    color: #F00;
    font-size: 1.3em;
}

.qestionContent p {
    margin: 3em 0;
}

.acceptButton {
    display: inline;
    margin: 0 1em;
    cursor: pointer;
    font-weight: bold;
    color: #666;
    transition: ease-out 300ms;
}

#Yes:hover {
    color: #0fbc13;
    transition: ease-out 400ms;
}

#No:hover {
    color: #d51a14;
    transition: ease-out 400ms;
}
.noContent{
    display:none;
	max-width:600px !important;
}
.noContent p{
    margin: 2em 0 !important;
}
#mult{
    display:none;
}